*, ::after, ::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* ::selection{
  background-color: #c2c2;
  
}

body{
  background-color: #c2c2;
  font-family:Arial;
}
.card{
  width: 330px;
  margin: 40px auto;
  background-color: aliceblue;
  padding: 20px;
  box-shadow: 0 0  0 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;

}
.card_tittle{
text-align: center;
padding-bottom: 7px;
padding-bottom: 15px;

}
.card_tittle::before,
.card_tittle::after{
  content:"" ;
  display: inline-block;
  width: 20%;
  height: 3px;
  background-color: black;
  position:relative;
  margin-bottom: 5px;
 
}
ul{
  counter-reset: adso;
}
li{
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}
li::before{
  content: counter(adso);
  counter-increment: adso;
  background-color:#c2c2;
  width: 30px;
  height: 30px;
  display: inline-block;
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
}